@import '../base/variaveis';

.banner {
    background: url(../../imagens/banner.jpg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner-banner {
        text-align: center;
        padding: 3em;
        background-color: $cor-3;
        opacity: 0.8;
        border-radius: 40px;
        h1 {
            font-size: $tamanho-da-fonte;
            color: $cor-1;
        }
        h2 {
            font-size: $tamanho-da-fonte / 2;
            color: $cor-2;
        }
    }
}