@import '../base/variaveis';

#newsletter {
    background-color: $cor-3;
    padding: 2em;
    text-align: center;
    .texto {
        color: $cor-1;
        h2 {
            margin: 1em;
            margin-top: 0;
            font-size: $tamanho-da-fonte / 2;
        }
    }
    input {
        border-radius: 20px;
        height: 40px;
        border: none;
        width: 400px;
        text-align: center;
        font-size: 1em;
        &:hover,
        &:focus-within {
            box-shadow: 1px 1px 8px 1px $cor-1;
            outline: none;
        }
    }
    button {
        text-transform: uppercase;
        margin-top: 1.8em;
        outline: none;
        height: 40px;
        width: 130px;
        background-color: $cor-1;
        color: $cor-3;
        letter-spacing: 1px;
        font-size: .80em;
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 40px;
        &:hover {
            background-color: $cor-1-hover;
            transition: 0.2s;
        }
    }
}