// Família das fontes
$fonte: Arial, Helvetica, sans-serif;

// Cores de fonte
$cor-1: #552114;
$cor-1-hover: #1d0904;
$cor-2: #bb6e0a;
$cor-3: #F1E0AC; 

// Tamanho das fontes
$tamanho-da-fonte: 3em;