     :root{
    --main-radius:5px; /*Variáveis CSS*/
    --main-padding:5px;
}

body{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container{
   display: grid;
   height: 100vh;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1.5fr 1.5fr 0.5fr;
   grid-template-areas: 
                        "nav nav nav nav"
                        "aside main main main"
                        "aside content1 content2 content3"
                        "footer footer footer footer";
    grid-gap: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font: 1em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

nav{
 background-color: rgb(140, 116, 88);
 grid-area: nav;
 border-radius: var(--main-radius);
 padding-top: var(--main-padding);
}

main{
    background-color: rgb(138, 103, 62);
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

aside{
    background-color: rgb(132, 103, 37);
    grid-area: aside;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content1{
    background-color: rgb(132, 87, 11);
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content2{
    background-color: rgb(132, 87, 11);
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

#content3{
    background-color: rgb(132, 87, 11);
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

footer{
    background-color: rgb(91, 53, 8);
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
  
  .logo {
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    margin-right: auto;
  }
  
  .menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  .menu-items li {
    margin-left: 15px;
  }
  
  .menu-items li:first-child {
    margin-left: 0;
  }
  
  .menu-items li a {
    text-decoration: none;
    color: #333;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-left: auto;
  }
  
  .search-bar input {
    margin-right: 5px;
  }
  
  .search-bar button {
    padding: 5px 10px;
  }

  